*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:black;
  
}
.contenedor{
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 3fr auto;
  grid-template-areas: 
   "header header"
   "main aside"
   "footer footer";
}
.header{
  background-color: #745151;
  padding:1.2rem;
  display:flex;
  grid-area: header;
  justify-content: space-around;
  align-items: center;
}
.header img{
  width: 60px;
  border-radius: 20%;
}
.header nav ul{
  list-style: none;
  background-color: #3d3d3d;
  display: flex;
  justify-content: flex-end;
}
.header nav ul a{
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: block;
}
.header nav li a:hover{
  background-color: #888888;
  color:black;
  font-weight: bold;
}
.main{
  background-color: white;
  padding:1.2rem;
  grid-area: main;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.main h1{
  text-align: center;
  padding: 1rem;
}
.main p{
  line-height: 1.5;
  padding: 1rem;
}
.main .img{
 text-align: center;
 padding: 1rem;
}
.aside{
  background-color: #e5e6e6;
  padding:1.2rem;
  display: flex;
  flex-direction: column;
  grid-area: aside;
  justify-content: space-between;
}
.aside h2{
  align-self: center;
  margin:1rem;
}
.aside .img{
  align-self: center;
  margin: 1rem;
}
.footer{
  background-color: #745151;
  padding:1.2rem;
  display: flex;
  justify-content: space-between;
  grid-area: footer;
  text-align: center;
}
.footer p{
  color: white;
}



/*texto que aparece*/

.aparecer{
  margin:100px;
  animation-duration: 8s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
      opacity: 0;
      }
  50% {
      opacity: 1;
      }
  100% {
    opacity: 0;
      }
}

@media screen and (max-width:700px) {
  .contenedor {
      grid-template-columns: 1fr;
      grid-template-rows: auto 2fr auto auto;
      grid-template-areas: 
   "header"
   "main"
   "aside"
   "footer";
  } 
  
}



